@{
    ViewData["Title"] = "About us";
}
<h1>@ViewData["Title"]</h1>

<p>Here is some info about us:</p>
<ul>
    <li>useless info 1</li>
    <li>useless info 2</li>
    <li>useless info 3</li>
    <li>useless info 4</li>
</ul>