@{
    ViewData["Title"] = "Contact";
}
<h1>@ViewData["Title"]</h1>

<p>Here is how you can contact us:</p>
<ul>
    <li>Send a mail to ancient pyramids, and await for pharaoh response.</li>
    <li>Smoke a bong and consult Yakub in Hyperborea. He will relay that infornation to us.</li>
    <li>Or just message us at will_never_reply@who.cares</li>
</ul>