@{
    ViewData["Title"] = "Payment methods";
}
<h1>@ViewData["Title"]</h1>

<p>Here is how to give us money:</p>
<ul>
    <li>Send it by mail.</li>
    <li>Send it by pidgeon.</li>
    <li>Teleport it to our bank account.</li>
</ul>