@{
    ViewData["Title"] = "Regulations";
}
<h1>@ViewData["Title"]</h1>

<p>Here are our rules</p>
<ol>
    <li>All rules are valid</li>
    <li>Rule 3 is false</li>
    <li>Rule 2 is true</li>
</ol>