<div class="container-fluid">
  <ul class="navbar-nav shop-nav">
    @{
      foreach (var category in Model)
      {
        <li class="nav-item">
          <a class="nav-link active" href="#">@category.Name</a>
        </li>
      }
    }
  </ul>
</div>