<div class="container-fluid">
  <ul class="navbar-nav shop-nav">
    <li class="nav-item">
      <a class="nav-link active" href="@Url.Action("All", "Movie")">All Movies</a>
    </li>
    @{
      foreach (var category in Model)
      {
        <li class="nav-item">
          <a class="nav-link active"
             href="@Url.Action("CategoryMovies", "Movie", new { category = category.Name })">@category.Name</a>
        </li>
      }
    }
  </ul>
</div>