.shop-footer a {
  text-decoration: none;
  color: white;
  margin-right: 2rem;
  font-size: 1.5rem;
}
.shop-footer a:hover{
  font-style: oblique;
}

.shop-nav a:hover{
  font-style: oblique;
}

tbody a{
  text-decoration: none;
}

.posters{
  width: 8rem;
}

.details-list {
  list-style-type:none;
}
.details-header{
  font-weight: bold;
}