@model IEnumerable<Movie>

<table class="table">
    <tr>
        <th>
            Tytuł
        </th>
        <th>
            Reżyser
        </th>
        <th>
            Cena
        </th>
    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <td>
                @x.Title
            </td>
            <td>
                @x.Director
            </td>
            <td>
                @x.Price zł
            </td>
            <td>
                <a href="@Url.Action("Details", "Movie", new { movieId = x.Id })">🔍

                </a>
            </td>
        </tr>
    }

</table>